<span>
<h2><a href="/"><img class="app-navbar-icon" alt="Punchterest" src="https://res.cloudinary.com/hassan/image/upload/v1486435562/punch_icon.svg"/></a> {{message}} <small>{{error.status}}</small></h2>
</span>
<div class="well">
    <p class="bg-danger">{{error.stack}}</p>
</div>