<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Punch-terest App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{domain}}/css/styles.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/c78d05f45a.js"></script>
    
    
  </head>
  <body>
    <div>
      
      {{{body}}}
      
    </div>
    
    <br/>
    <div class="container">
      <p style="text-align: center"><small><a href="https://twitter.com/Hassan_Reyes" target="_blank">@Hassan_Reyes</a></small></p>
      <p style="text-align: center"><small><a href="https://github.com/hassanreyes/camper-app-punchterest" target="_blank">On Github</a></small></p>
    </div>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
